<!DOCTYPE html>
<html>
  <head>
    <title><%= data.subject %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= console.log(data.subject) data.subject %></h1>
    <p>Welcome to <%= data.email %></p>
  </body>
</html>
